<div id="extension-lime-template">

  <!-- Nav Template -->
  <div id="extension-lime-template-nav">
    <a class="nav-link" id="extension-lime-nav-{{nav-id}}" data-toggle="pill" href="#extension-lime-content-devices" role="tab" aria-controls="extension-lime-content-{{content-id}}" aria-selected="false">
      <center><i class="fas {{nav-icon}} fa-3x"></i></center>
    </a>
  </div>

  <!-- Content Template -->
  <div id="extension-lime-template-content">
    <div class="tab-pane fade lime-tab-content" id="extension-lime-content-{{nav-id}}" role="tabpanel" aria-labelledby="extension-lime-nav-{{nav-id}}">
      
    </div>
  </div>

</div>