<div id="extension-lime-contents" style="height: 100%;">
  <div id="lime-container" style="height: 100%;">
    <div class="container h-100">
      <div class="row h-100">
        <div class="nav flex-column nav-pills turnip-container-nav" role="tablist" aria-orientation="vertical">

          <a class="nav-link" id="extension-lime-nav-vthings" data-toggle="pill" href="#extension-lime-content-vthings" role="tab" aria-controls="extension-lime-content-vthings" aria-selected="false">
            <center><i class="fas fa-cloud-upload-alt fa-3x"></i></center>
          </a>

          <a class="nav-link" id="extension-lime-nav-devices" data-toggle="pill" href="#extension-lime-content-devices" role="tab" aria-controls="extension-lime-content-devices" aria-selected="false">
            <center><i class="fas fa-cogs fa-3x"></i></center>
          </a>

          <a class="nav-link" id="extension-lime-nav-scripts" data-toggle="pill" href="#extension-lime-content-scripts" role="tab" aria-controls="extension-lime-content-scripts" aria-selected="true">
            <center><i class="fas fa-user fa-3x"></i></center>
          </a>

          <a class="nav-link" id="extension-lime-nav-engines" data-toggle="pill" href="#extension-lime-content-engines" role="tab" aria-controls="extension-lime-content-engines" aria-selected="true">
            <center><i class="fas fa-user fa-3x"></i></center>
          </a>

          <a class="nav-link" id="extension-lime-nav-sysport" data-toggle="pill" href="#extension-lime-content-sysport" role="tab" aria-controls="extension-lime-content-sysport" aria-selected="true">
            <center><i class="fas fa-user fa-3x"></i></center>
          </a>

        </div>
        <div class="col bg-dark text-light tab-content turnip-container-content py-4">

          <div class="tab-pane fade turnip-tab-content active show" id="extension-lime-content-loading" role="tabpanel" aria-labelledby="extension-lime-nav-loading">
            <div class="turnip-content-section">
              <div>
                <button class="btn btn-primary" type="button" disabled="">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  &nbsp;Loading...
                </button>
              </div>
            </div>
          </div>

          <!-- ==== Vthings Menu ==== -->
          <div class="tab-pane fade turnip-tab-content" id="extension-lime-content-vthings" role="tabpanel" aria-labelledby="extension-lime-nav-vthings">
            ...
          </div>

          <!-- ==== Devices Menu ==== -->
          <div class="tab-pane fade turnip-tab-content" id="extension-lime-content-devices" role="tabpanel" aria-labelledby="extension-lime-nav-devices">
            ...
          </div>

          <!-- ==== Scripts Menu ==== -->
          <div class="tab-pane fade turnip-tab-content" id="extension-lime-content-scripts" role="tabpanel" aria-labelledby="extension-lime-nav-scripts">
            ...
          </div>

          <!-- ==== Engines Menu ==== -->
          <div class="tab-pane fade turnip-tab-content" id="extension-lime-content-engines" role="tabpanel" aria-labelledby="extension-lime-nav-engines">
            ...
          </div>

          <!-- ==== Sysport Menu ==== -->
          <div class="tab-pane fade turnip-tab-content" id="extension-lime-content-sysport" role="tabpanel" aria-labelledby="extension-lime-nav-sysport">
            ...
          </div>

        </div>
      </div>
    </div>
  </div>
</div>