<div id="{{ext.html}}-contents" style="height: 100%;">
  <div class="d-flex justify-content-center mx-2 h-100">

    <div class="nav flex-column nav-pills miso-nav" id="{{ext.html}}-nav" role="tablist" aria-orientation="vertical">
      {{{nav}}}
    </div>

    <div class="col bg-dark text-light miso-content py-4" id="{{ext.html}}-content">

      <div class="tab-pane fade miso-tab-content active show" id="{{ext.html}}-content-loading" role="tabpanel" aria-labelledby="{{ext.html}}-nav-loading">
        <div class="miso-content-section d-flex justify-content-center">
          <button class="btn btn-primary" type="button" disabled="">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            &nbsp;Loading...
          </button>
        </div>
      </div>

      {{{content}}}
      
    </div>

  </div>

  <div class="miso-notification-area" id="{{ext.html}}-notification">
  </div>

  <div class="miso-backdrop fade show" id="{{ext.html}}-contents-backdrop"></div>
  <div class="miso-loading-dialog rounded p-3 fade show" id="{{ext.html}}-contents-loading-dialog">
    <span class="text-light d-flex justify-content-center pb-3">Loading ...</span>
    <div class="progress">
      <div class="progress-bar progress-bar-black-striped bg-warning progress-bar-animated w-100">
      </div>
    </div>
  </div>
</div>