<div id="{{ext.html}}-contents" style="height: 100%;">
  <div id="{{ext.html}}-container" style="height: 100%;">
    <div class="container h-100">
      <div class="row h-100">

        <div class="nav flex-column nav-pills {{ext.html}}-nav" id="{{ext.html}}-nav" role="tablist" aria-orientation="vertical">
          {{{nav}}}
        </div>

        <div class="col bg-dark text-light tab-content {{ext.html}}-content py-4" id="{{ext.html}}-content">

          <div class="tab-pane fade {{ext.html}}-tab-content active show" id="{{ext.html}}-content-loading" role="tabpanel" aria-labelledby="{{ext.html}}-nav-loading">
            <div class="{{ext.html}}-content-section d-flex justify-content-center">
              <button class="btn btn-primary" type="button" disabled="">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                &nbsp;Loading...
              </button>
            </div>
          </div>

          {{{content}}}
          
        </div>

      </div>
    </div>
  </div>
</div>