<div id="extension-template">

  <!-- Nav Template -->
  <div id="extension-template-nav">
    <a class="nav-link" id="{{ext.html}}-nav-{{page.schema.name}}" data-toggle="pill" href="#{{ext.html}}-content-{{page.schema.name}}" role="tab" aria-controls="{{ext.html}}-content-{{page.schema.name}}" aria-selected="false">
      <center><i class="{{page.schema.icon}} fa-3x"></i></center>
    </a>
  </div>

  <!-- Content Template -->
  <div id="extension-template-content">
    <div class="tab-pane fade miso-tab-content" id="{{ext.html}}-content-{{page.schema.name}}" role="tabpanel" aria-labelledby="{{ext.html}}-nav-{{page.schema.name}}">
      {{{page.view}}}
    </div>
  </div>

</div>