/*
  MISO : Mozilla Interface Style-sheet Overcoating.
*/

:root {
  --lime-blue: #007bff;
  --lime-indigo: #6610f2;
  --lime-purple: #6f42c1;
  --lime-pink: #e83e8c;
  --lime-red: #dc3545;
  --lime-orange: #fd7e14;
  --lime-yellow: #ffc107;
  --lime-green: #28a745;
  --lime-teal: #20c997;
  --lime-cyan: #17a2b8;
  --lime-white: #fff;
  --lime-gray: #6c757d;
  --lime-gray-dark: #343a40;
  --lime-primary: #007bff;
  --lime-secondary: #6c757d;
  --lime-success: #28a745;
  --lime-info: #17a2b8;
  --lime-warning: #ffc107;
  --lime-danger: #dc3545;
  --lime-light: #f8f9fa;
  --lime-dark: #343a40;
  --lime-breakpoint-xs: 0;
  --lime-breakpoint-sm: 576px;
  --lime-breakpoint-md: 768px;
  --lime-breakpoint-lg: 992px;
  --lime-breakpoint-xl: 1200px;
  --lime-font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --lime-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --lime-miso-section-clearance-top: 8rem;
  --lime-miso-section-clearance-right: 1rem;
  --lime-miso-section-clearance-bottom: 1rem;
  --lime-miso-section-clearance-left: 1rem;

  --lime-miso-section-content-padding: 15px;

  --lime-miso-content-min-height: 230px;
  --lime-miso-loading-dialog-width: 200px;
  --lime-miso-loading-dialog-height: 50px;

  --lime-miso-rtcoverlay-switch-height: 50px;
  --lime-miso-rtcoverlay-switch-width: 30px;

  --lime-miso-content-cardbody-padding: 1.25rem;
  /* --lime-miso-content-cardheader-vpadding: 0.75rem;
  --lime-miso-content-cardheader-fontsize: 22px; */
  --lime-miso-content-cardheader-height: 38px;
}



#main-menu #extension-lime-extension-menu-item {
  background-image: url('../images/menu-icon.svg');
}



/* Container and Nav */
#extension-lime-extension-view {
  height: calc(100% - var(--lime-miso-section-clearance-top) - var(--lime-miso-section-clearance-bottom));
  
  box-sizing: border-box;
  /*overflow: auto;*/
  /*position: relative;*/
  /*position: fixed;*/
  position: absolute;
  top: var(--lime-miso-section-clearance-top);
}
/*#extension-lime-extension-view {
  height: calc(100% - 6rem);
  box-sizing: border-box;
  position: relative;
  top: 6rem;
}*/

#extension-lime-contents .miso-workspace {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 5px 0px 5px;
  height: fit-content;
  max-height: 100%;
  overflow: auto;
}

#extension-lime-contents .miso-v-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#extension-lime-contents .miso-v-container > * {
  margin-bottom: 5px;
}

#extension-lime-contents .miso-v-container > *:last-child {
  margin-bottom: 0px;
}

#extension-lime-contents .miso-h-container {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

#extension-lime-contents .miso-h-container > * {
  margin-right: 5px;
}

#extension-lime-contents .miso-h-container > *:last-child {
  margin-right: 0px;
}

#extension-lime-contents .miso-v-container {
  padding: 5px;
}

#extension-lime-contents .miso-items-container > * {
  margin-bottom: 5px;
}

#extension-lime-contents .miso-items-container > *:last-child {
  margin-bottom: 0px;
}

#extension-lime-contents .miso-content-maxh {
  max-height: calc(100vh - var(--lime-miso-section-clearance-top) - var(--lime-miso-section-clearance-bottom) - var(--lime-miso-section-content-padding)*2) !important;
}

#extension-lime-contents .miso-card-content-maxh {
  max-height: calc(
    100vh - 
    var(--lime-miso-section-clearance-top) - 
    var(--lime-miso-section-clearance-bottom) - 
    var(--lime-miso-section-content-padding)*2 -
    var(--lime-miso-content-cardbody-padding)*2 -
    var(--lime-miso-content-cardheader-height) -
    2px /* border 1px x 2 */
  ) !important;
}

#extension-lime-contents .miso-card-content-hmax {
  height: calc(
    100vh - 
    var(--lime-miso-section-clearance-top) - 
    var(--lime-miso-section-clearance-bottom) - 
    var(--lime-miso-section-content-padding)*2 -
    var(--lime-miso-content-cardbody-padding)*2 -
    var(--lime-miso-content-cardheader-height) -
    2px /* border 1px x 2 */
  ) !important;
}

#extension-lime-contents .nav .nav-link {
  background: var(--lime-light);
  margin-left: 3px;
  color: var(--lime-dark);
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  /*width: 40px;*/
  padding: 0.5rem 0.5rem;
}

#extension-lime-contents .nav .nav-link:hover {
  background-color: var(--lime-warning);
  opacity: 1;
}

#extension-lime-contents .nav .nav-link.active {
  background-color: var(--lime-dark);
  opacity: 1;
}

#extension-lime-contents .nav .nav-link.disabled {
  background-color: var(--lime-gray);
  color: var(--lime-light);
  opacity: 0.5;
}

#extension-lime-contents .nav-bar {
  display: flex;
  position: fixed;
  top: calc(var(--lime-miso-section-clearance-top) - 30px);
}

#extension-lime-contents .miso-nav {
  width: 100%;
  overflow: auto;
  height: fit-content;
}

#extension-lime-contents .miso-content {
  /*max-height: 100%;*/
  max-width: 700px;
  padding: var(--lime-miso-section-content-padding);
  /*overflow: auto;
  height: fit-content;
  min-height: var(--lime-miso-content-min-height);*/
}

#extension-lime-contents .miso-tab-content {
  font-size: medium;
  height: fit-content;
  display: none;
}

#extension-lime-contents .miso-tab-content.active {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

#extension-lime-contents .miso-content-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

#extension-lime-contents .miso-slide-container {
  position: relative;
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
}

#extension-lime-contents .miso-slide-base {
  position: relative;
  display: none;
}

#extension-lime-contents .miso-slide-slide.hide ~ .miso-slide-base {
  position: relative;
  display: inline-block;
  width: 100%;
}

#extension-lime-contents .miso-slide-slide {
  position: relative;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background: var(--lime-dark);
  z-index: 1;

  transition: left 0.5s;
}

#extension-lime-contents .miso-slide-slide .card-header {
  white-space: nowrap;
}

#extension-lime-contents .miso-slide-slide .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#extension-lime-contents .miso-slide-slide.hide {
  left: 110%;
  display: inline-block;
  position: absolute;

  transition: left 0.5s, position 0.5s 0.5s;
}



/* Small card customization */
#extension-lime-content .miso-small-card-container {
  display: flex;
  flex-direction: column;
}

#extension-lime-content .miso-small-card .card-header {
  font-size: 1rem;
}

#extension-lime-content .miso-hover-yellow-border:hover {
  border-color: var(--lime-yellow) !important;
  transition: background-color 0.5s ease-out;
}

#extension-lime-content .miso-activable-yellow-border.active {
  border-color: var(--lime-yellow) !important;
}

#extension-lime-content .miso-activable-yellow-border.active .miso-active-indicator {
  background: var(--lime-yellow) !important;
  color: var(--lime-dark) !important;
}

#extension-lime-content .miso-activable-secondary-bg.active {
  background: var(--lime-secondary) !important;
}

#extension-lime-content .miso-activable-secondary-bg.active .miso-active-indicator {
  background: var(--lime-secondary) !important;
  color: var(--lime-dark) !important;
}

/* Webhook Item Customization */
#extension-lime-contents .miso-grid-item-container {
  display: flex;
  flex-wrap: wrap;
}

#extension-lime-contents .miso-grid-item {
  margin: 10px;
  /*height: 150px;*/
  width: 100%;
  border-color: var(--lime-gray);
  transition: 0.2s;
}

#extension-lime-contents .miso-grid-item:hover {
  border-color: var(--lime-light);
  transition: 0.2s;
}

#extension-lime-contents .miso-grid-item-adder {
  border: 2px;
  border-style: dashed;
  border-color: var(--lime-dark);
}

#extension-lime-contents .miso-grid-item-adder .card-body {
  background-color: var(--lime-dark);
  color: var(--lime-gray);
  transition: 0.2s;
}

#extension-lime-contents .miso-grid-item-adder .card-body:hover {
  background-color: var(--lime-secondary);
  color: var(--lime-light);
  transition: 0.2s;
}

#extension-lime-contents .miso-card-header-btn-box {
  white-space: nowrap;
}

#extension-lime-contents .miso-card-header-btn-box .btn {
  width: 30px;
}

#extension-lime-contents .miso-grid-item .card-body {
  text-overflow: ellipsis;
  white-space: normal;
}

#extension-lime-contents .miso-grid-item .card-body p {
  font-size: 1.2rem;
}

#extension-lime-contents .miso-grid-item .card-body .card-title {
  font-size: 1.5rem;
}

#extension-lime-contents .miso-badge-http-method-post,
#extension-lime-contents .miso-badge-http-method-put,
#extension-lime-contents .miso-badge-http-method-patch {
  color: var(--lime-dark);
  background-color: var(--lime-warning);
}

#extension-lime-contents .miso-badge-http-method-get {
  color: var(--lime-light);
  background-color: var(--lime-success);
}

#extension-lime-contents .miso-badge-http-method-delete {
  color: var(--lime-dark);
  background-color: var(--lime-danger);
}

#extension-lime-contents .miso-badge-http-method-head,
#extension-lime-contents .miso-badge-http-method-connect,
#extension-lime-contents .miso-badge-http-method-option,
#extension-lime-contents .miso-badge-http-method-trace {
  color: var(--lime-dark);
  background-color: var(--lime-light);
}

#extension-lime-contents .miso-grid-item .card-text {
  /* -webkit-line-clamp: 2; */
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

#extension-lime-contents .miso-grid-item .line-clamp-4 {
  -webkit-line-clamp: 2;
}



/* History Item */
#extension-lime-contents .miso-history-container {
  width: 100%;
  min-height: 80px;
}

#extension-lime-contents .miso-history-item {
  border-color: var(--lime-secondary);
  transition: 0.2s;
  margin-bottom: 10px;
  max-width: 700px;
  min-width: 50px;
  margin-left: auto;
  margin-right: auto;
}

#extension-lime-contents .miso-history-item:last-child {
  margin-bottom: 0px;
}

#extension-lime-contents .miso-history-item:hover {
  border-color: var(--lime-light);
  transition: 0.2s;
}

#extension-lime-contents .miso-history-item .card-header{
  background-color: var(--lime-dark);
  padding: 5px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

#extension-lime-contents .miso-history-item .card-body {
  background-color: var(--lime-secondary);
  font-size: 1.4rem;
  padding: 5px;
}

#extension-lime-contents .miso-history-item-element {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 3px;
  display: flex;

  border-style: solid;
  border-width: 1px;
  border-color: var(--lime-dark);
  transition: 0.2s;
}

#extension-lime-contents .miso-history-item-element:hover {
  border-color: var(--lime-light);
  transition: 0.2s;
}

#extension-lime-contents .miso-history-item-element:last-child {
  margin-bottom: 0px;
}

#extension-lime-contents .miso-history-item-element > * {
  padding: 0px 5px 0px 5px;
  border-width: 0px
}

#extension-lime-contents .miso-history-item-element > div {
  background-color: var(--lime-dark);
  display: flex;
  align-items: center;
}

#extension-lime-contents .miso-history-item-element > div:first-child {
  min-width: 32px;
}

#extension-lime-contents .miso-history-item-element > button {
  display: flex;
  flex-wrap: nowrap;
  transition: 0.2s;
}

#extension-lime-contents .miso-history-item-element > button:hover {
  background-color: var(--lime-warning);
  color: var(--lime-dark);
  transition: 0.2s;
}

#extension-lime-contents .miso-history-item-element > *:first-child {
  border-radius: 3px 0px 0px 3px;
  min-width: 30px;
  background-color: var(--lime-dark);
  opacity: 0.5;
}

#extension-lime-contents .miso-history-item-element > *:last-child {
  border-radius: 0px 3px 3px 0px;
}

#extension-lime-contents .miso-history-item-req {

}

#extension-lime-contents .miso-history-item-res {

}



/* Modal item */
#extension-lime-contents .miso-modal {

}

#extension-lime-contents .miso-modal .modal-header,
#extension-lime-contents .miso-modal .modal-body,
#extension-lime-contents .miso-modal .modal-footer {
  background-color: var(--lime-dark);
}

#extension-lime-contents .miso-modal .modal-body {
  font-size: small;
}

/*#extension-lime-contents .miso-modal .modal-body input {
  font: 400 13.3333px Arial;
}*/



/* Setting item */
#extension-lime-contents .miso-setting-item {
  margin-bottom: 5px;

  border-color: var(--lime-secondary);
  transition: 0.2s;
}

#extension-lime-contents .miso-setting-item:hover {
  border-color: var(--lime-light);
  transition: 0.2s;
}

#extension-lime-contents .miso-setting-item:last-child {
  margin-bottom: 0px;
}

#extension-lime-contents .miso-setting-item > .card-header {
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

/* Service item */
#extension-lime-contents .miso-service-item {
  border-color: var(--lime-secondary);
}

#extension-lime-contents .miso-service-item > .card-headers {
  background-color: var(--lime-dark);
}

#extension-lime-contents .miso-service-item > .card-bodys {
  background-color: var(--lime-secondary);
}



/* E-Form Customization */
#extension-lime-contents .miso-form-container {
  display: flex;
  flex-direction: column;
  font-size: small;
  /* flex-wrap:wrap; */
  margin: auto;
}

#extension-lime-contents .miso-form-row {
  display: flex;
  /* justify-content: space-between; */
}

#extension-lime-contents .miso-badge-header-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 100%;
  min-width: 50px;
}

#extension-lime-contents .miso-badge-header-group:last-child {
  margin-bottom: 0px;
}

#extension-lime-contents .miso-form-row.flex-column .miso-badge-header-group {
  margin-bottom: 0px;
  margin-right: 5px;
}

#extension-lime-contents .miso-badge-header-group:last-child {
  margin-bottom: 0px;
}

#extension-lime-contents .grow-1 {
  flex-grow: 1;
}

#extension-lime-contents .miso-label-badge {
  width: fit-content;
  border-radius: 3px 3px 0 0;
  margin-bottom: 0;

  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#extension-lime-contents .round-edge {
  border-radius: 3px 3px 3px 3px;
}

#extension-lime-contents .horizontal-union:not(:first-child):not(:last-child) {
  border-radius: 0 0 0 0;
}

#extension-lime-contents .horizontal-union:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#extension-lime-contents .horizontal-union:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#extension-lime-contents .vertical-union:not(:first-child):not(:last-child) {
  border-radius: 0 0 0 0;
}

#extension-lime-contents .vertical-union:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#extension-lime-contents .vertical-union:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#extension-lime-contents .topleft-union {
  border-top-left-radius: 0 !important;
}

#extension-lime-contents .topright-union {
  border-top-right-radius: 0 !important;
}

#extension-lime-contents .bottomright-union {
  border-bottom-right-radius: 0 !important;
}

#extension-lime-contents .bottomleft-union {
  border-bottom-left-radius: 0 !important;
}

#extension-lime-contents .miso-badge-union {
  position: relative;
  top: calc(-1px);
  border-top-left-radius: 0;
  border-radius: 0 3px 3px 3px;
  border-style: solid;
  border-width: 2px;
}

#extension-lime-contents input.miso-badge-union {
  height: 24px;
  background-color: var(--lime-light);
}

#extension-lime-contents textarea.miso-badge-union {
  height: fit-content;
}

#extension-lime-contents .border-dash {
  border: 1px;
  border-style: dashed;
  border-color: var(--lime-dark);
}



/* Headers Item */
#extension-lime-contents .header-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
  max-width: 100%;
  /* overflow: hidden; */
}

#extension-lime-contents .header-item:last-child {
  margin-bottom: 0px;
}

#extension-lime-contents .header-item span {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  /*max-width: calc(50% - 10px);*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#extension-lime-contents .header-item span:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  
  min-width: fit-content;
}

#extension-lime-contents .header-item span:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

#extension-lime-contents .header-item span:hover {
  opacity: 0.7;
  transition: 0.2s;
}

#extension-lime-contents .header-item-key {
  color: var(--lime-light);
  background-color: var(--lime-info);
}

#extension-lime-contents .header-item-value {
  color: var(--lime-dark);
  background-color: var(--lime-warning);
}

#extension-lime-contents .header-item-remove {
  color: var(--lime-light);
  background-color: var(--lime-danger);
}



/* Icon Box */

#extension-lime-contents .miso-icon-box-16 {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

#extension-lime-contents .miso-icon-box-24 {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

#extension-lime-contents .miso-icon-box-32 {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

#extension-lime-contents .miso-icon-box-16,.miso-icon-box-24,.miso-icon-box-32:hover {
  cursor: pointer;
}



/* Millicious Components */

#extension-lime-contents .pointer-cursor {
  cursor: auto;
}

#extension-lime-contents .pointer-cursor:hover {
  cursor: pointer;
}

#extension-lime-contents .progress-bar-black-striped {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.75) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0.75) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

#extension-lime-contents .miso-backdrop {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1080;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
}

#extension-lime-contents .miso-absolute-overlay-workspace {
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  /* opacity: 0.7; */
}

#extension-lime-contents .miso-absolute-overlay-content {
  width: 100%;
  height: 100%;
  /* opacity: 1; */
  padding: 10px;
  overflow: auto;
}

#extension-lime-contents .miso-absolute-overlay-content-console {
}

#extension-lime-contents .miso-absolute-overlay-content-console > *:not(:last-child) {
  margin-bottom: 10px;
}

#extension-lime-contents .miso-absolute-overlay-content-console-monitor {
  min-height: 200px;
  border: 1px solid;
  border-radius: 10px;
  background-color:rgba(0, 0, 0, 0.5);
}

#extension-lime-contents .miso-absolute-overlay-content-console-cmd {
  min-height: 200px;
  border: 1px solid;
  border-radius: 10px;
  background-color:rgba(0, 0, 0, 0.5);
}

#extension-lime-contents .miso-absolute-overlay-switch {
  position: fixed;
  /* height: var(--lime-miso-rtcoverlay-switch-top);
  width: var(--lime-miso-rtcoverlay-switch-width); */
  top: calc(100vh - 100px);
  left: calc(100vw - var(--lime-miso-rtcoverlay-switch-width));
  z-index: 101;
}

#extension-lime-contents .miso-absolute-overlay-switch .overlay-switch {
  transition: all 0.3s ease;
  transform: rotate(180deg);
  padding: 10px 5px 10px 5px;
  height: var(--lime-miso-rtcoverlay-switch-height);
  width: var(--lime-miso-rtcoverlay-switch-width);
  /* width: fit-content; */
  /* height: fit-content; */
}

#extension-lime-contents .miso-absolute-overlay-switch .active {
  transform: rotate(0deg);
}

#extension-lime-contents .miso-loading-dialog {
  background-color: black;
  position: fixed;
  top: calc(calc(100vh - var(--lime-miso-loading-dialog-height))/2);
  left: calc(calc(100vw - var(--lime-miso-loading-dialog-width))/2);
  z-index: 1100;
  width: 150px;
  height: 50px;
}



/* Millicious Settings */

#extension-lime-contents .no-resize {
  resize: none;
}

#extension-lime-contents .hide {
  display: none !important;
}

#extension-lime-contents .font-size-inherit {
  font-size: inherit;
}



/* Vue-Tags-Input Override*/

#extension-lime-contents .miso-badge-header-group .vue-tags-input {
  max-width: none;
  background: none;
}

#extension-lime-contents .miso-badge-header-group .vue-tags-input .ti-input {
  border: none;
}

#extension-lime-contents .miso-badge-header-group .vue-tags-input .ti-input ul.ti-tags {
  margin-bottom: 0;
}



/* Original component override */
#extension-lime-contents textarea[disabled] {
  background: white;
}



/* Responsive Customization */
@media (min-width: 0px) {
  #extension-lime-contents .miso-grid-item {
    min-width: 200px;
    width: calc(100%);
  }
  #extension-lime-contents .nav-link {
    width: 40px;
  }
}

@media (min-width: 576px) {
  #extension-lime-contents .miso-grid-item {
    min-width: calc(100% - 20px);
  }

  #extension-lime-contents .miso-content, #extension-lime-contents .miso-nav {
    max-width: 700px;
  }

  #extension-lime-contents .nav-link {
    width: 50px;
  }
}

@media (min-width: 768px) {
  #extension-lime-contents .miso-grid-item {
    min-width: calc(50% - 20px);
    width: calc(50% - 20px);
  }

  #extension-lime-contents .miso-content, #extension-lime-contents .miso-nav {
    max-width: 900px;
  }

  #extension-lime-contents .nav-link {
    width: 60px;
  }
}

@media (min-width: 1200px) {
  #extension-lime-contents .miso-grid-item {
    min-width: calc(33% - 20px);
    width: calc(33% - 20px);
  }

  #extension-lime-contents .miso-content, #extension-lime-contents .miso-nav {
    max-width: 950px;
  }
}

