<div class="miso-slide-container" id="extension-lime-content-devices-section">

  <div class="miso-slide-slide" :class="{hide: ui.slider.hide}">
    <div class="card text-dark border-warning w-100">

      <div class="card-header bg-warning border-warning">
        <div class="d-flex justify-content-between">
          <!-- Icon & Title -->
          <div class="text-truncate">
            <i class="fas fa-tablet-alt mr-2"></i>
            <b>Devices</b>
          </div>
          <!-- Header Button -->
          <div class="">
            <button v-if="ui.slider.edit" class="btn btn-success" @click="fn.save()">
              <i class="fas fa-save fa-lg"></i>
              <b>Save</b>
            </button>
            <button class="btn btn-danger" @click="fn.renderBase()">
              <i class="fas fa-undo fa-lg"></i>
              <b>Back</b>
            </button>
          </div>
        </div>
      </div>

      <div class="card-body bg-dark">

        <div 
        v-if="!ui.slider.ready"
        class="">
          <div class="d-flex flex-column justify-content-center">
            <br>
            <div class="text-light">
              <center>
                Please wait, this process will take a while.
              </center>
            </div>
            <br>
            <div class="progress">
              <div class="progress-bar progress-bar-black-striped bg-warning progress-bar-animated w-100">
              </div>
            </div>
          </div>
        </div>

        <div 
        v-if="ui.slider.ready"
        class="miso-form-container align-items-center col-sm-12 col-md-10 col-lg-8 w-100">

          <div class="miso-badge-header-group align-items-end w-100">
            <label class="miso-label-badge badge-info font-size-inherit">Device</label>
            <div class="miso-badge-union d-flex flex-column border-dash border-info p-3 w-100">

              <template v-for="(param, index) in resource.deviceConfigSchema.properties">

                <div 
                class="miso-badge-header-group grow-1">
                  <label v-if="fn.typeIdentify(param) != 'object'" class="miso-label-badge badge-secondary">
                    {{(param.title) ? param.title : index}}
                  </label>
                  
                  <select
                  v-if="fn.typeIdentify(param) == 'select'" 
                  v-model="ui.slider.form[index]" 
                  :disabled="fn.isDisabled(param)"
                  @change="param.alternate && fn.onAlternateChange()"
                  class="miso-badge-union border-secondary">
                    <template v-for="option in param.enum">
                      <option :value="`${option}`">{{option}}</option>
                    </template>
                  </select>

                  <textarea
                  v-else-if="fn.typeIdentify(param) == 'textarea'" 
                  v-model="ui.slider.form[index]"
                  :disabled="fn.isDisabled(param)"
                  @change="param.alternate && fn.onAlternateChange()"
                  class="miso-badge-union border-secondary no-resize"
                  rows="4"
                  type="text">
                  </textarea>

                  <input 
                  v-else-if="fn.typeIdentify(param) == 'text' || fn.typeIdentify(param) == 'number'"
                  :type="fn.typeIdentify(param)" 
                  v-model="ui.slider.form[index]"
                  :disabled="fn.isDisabled(param)"
                  @change="param.alternate && fn.onAlternateChange()"
                  class="miso-badge-union border-secondary">

                  <div
                  v-else-if="fn.typeIdentify(param) == 'object'"
                  class="miso-badge-header-group w-100">
                    <label class="miso-label-badge badge-info font-size-inherit">{{(param.title) ? param.title : index}}</label>
                    <div class="miso-badge-union d-flex flex-column border-dash border-info p-3 w-100">

                      <template v-for="(prop, i) in param.patternProperties['.+'].properties">

                        <div 
                        class="miso-badge-header-group grow-1">
                          <label class="miso-label-badge badge-secondary">{{(prop.title) ? prop.title : i}}</label>

                          <select
                          v-if="fn.typeIdentify(prop) == 'select'" 
                          v-model="ui.slider.form.properties[i]" 
                          :disabled="fn.isDisabled(prop)"
                          @change="prop.alternate && fn.onAlternateChange()"
                          class="miso-badge-union border-secondary">
                            <template v-for="option in prop.enum">
                              <option :value="`${option}`">{{option}}</option>
                            </template>
                          </select>

                          <textarea
                          v-else-if="fn.typeIdentify(prop) == 'textarea'" 
                          v-model="ui.slider.form.properties[i]"
                          :disabled="fn.isDisabled(prop)"
                          @change="prop.alternate && fn.onAlternateChange()"
                          class="miso-badge-union border-secondary no-resize"
                          rows="4"
                          type="text">
                          </textarea>

                          <input 
                          v-else-if="fn.typeIdentify(prop) == 'text' || fn.typeIdentify(prop) == 'number'"
                          :type="fn.typeIdentify(prop)" 
                          v-model="ui.slider.form.properties[i]"
                          :disabled="fn.isDisabled(prop)"
                          @change="prop.alternate && fn.onAlternateChange()"
                          class="miso-badge-union border-secondary">

                        </div>

                      </template>
                      
                    </div>
                  </div>

                </div>

              </template>

            </div>
          </div>

          <!-- <div 
          v-if="!!resource.deviceConfigSchema.properties.properties"
          class="miso-badge-header-group align-items-end w-100">
            <label class="miso-label-badge badge-info font-size-inherit">Property</label>
            <div class="miso-badge-union d-flex flex-column border-dash border-info p-3 w-100">

              <template v-for="(param, index) in resource.deviceConfigSchema.properties.properties.items.properties">

                <div 
                :disabled="fn.isDisabled(param)"
                class="miso-badge-header-group grow-1">
                  <label class="miso-label-badge badge-secondary">{{(param.title) ? param.title : index}}</label>
                  
                  <select
                  v-if="fn.typeIdentify(param) == 'select'" 
                  v-model="ui.slider.form.properties[index]" 
                  @change="fn.onDeviceConfigChange($event, param.position)"
                  class="miso-badge-union border-secondary">
                    <template v-for="option in param.enum">
                      <option :value="`${option}`">{{option}}</option>
                    </template>
                  </select>

                  <textarea
                  v-else-if="fn.typeIdentify(param) == 'textarea'" 
                  v-model="ui.slider.form.properties[index]"
                  @change="fn.onDeviceConfigChange($event, param.position)"
                  class="miso-badge-union border-secondary no-resize"
                  rows="4"
                  type="text">
                  </textarea>

                  <input 
                  v-else
                  :type="fn.typeIdentify(param)" 
                  v-model="ui.slider.form.properties[index]"
                  @change="fn.onDeviceConfigChange($event, param.position)"
                  class="miso-badge-union border-secondary">

                </div>

              </template>

              <button 
              type="button" 
              class="btn btn-primary" 
              data-toggle="modal" 
              @click="fn.addProperty()">
                <span>
                  <i class="fas fa-plus fa-lg"></i>
                </span>
                <span>Add Property</span>
              </button>

              <div 
              v-if="ui.slider.final.properties.length > 0"
              class="miso-badge-header-group align-items-end w-100">
                <label class="miso-label-badge badge-info font-size-inherit">Added Property</label>
                <div class="miso-badge-union d-flex flex-column border-dash border-info p-3 w-100">

                  <div class="list-group w-100">
                    <template
                    v-for="(prop, index) in ui.slider.final.properties">
                      <div class="list-group-item list-group-item-action bg-transparent text-light d-flex justify-content-between">
                        <div class="grow-1 d-flex flex-column">
                          <span>{{fn.objectToText(prop)}}</span>
                        </div>
                        <span>
                          <button class="btn btn-danger" @click="fn.removeProperty(prop)">
                            <i class="fas fa-trash fa-lg"></i>
                          </button>
                        </span>
                      </div>
                    </template>
                  </div>

                </div>
              </div>

            </div>
          </div> -->

        </div>

      </div>

    </div>
  </div>
  
  <div class="miso-slide-base">
    <div class="card text-dark border-warning w-100">
      <!-- Base Card Header -->
      <div class="card-header bg-warning border-warning">
        <div class="d-flex justify-content-between">
          <!-- Icon & Title -->
          <div class="text-truncate">
            <i class="fas fa-tablet-alt mr-2"></i>
            <b>Devices</b>
          </div>
        </div>
      </div>
      <!-- Base Card Body -->
      <div class="card-body bg-dark">
        <!-- Base Body Loader -->
        <div 
        v-if="!ui.base.ready"
        class="">
          <div class="d-flex flex-column justify-content-center">
            <br>
            <div class="text-light">
              <center>
                Please wait, this process will take a while.
              </center>
            </div>
            <br>
            <div class="progress">
              <div class="progress-bar progress-bar-black-striped bg-warning progress-bar-animated w-100">
              </div>
            </div>
          </div>
        </div>
        <!-- Base Body Item Container -->
        <div 
        v-if="ui.base.ready"
        class="miso-grid-item-container">
          <!-- Items -->
          <div 
          class="card miso-grid-item" 
          v-for="(item, index) in resource.config.list">
            <!-- Item Header -->
            <div class="card-header d-flex justify-content-between bg-dark text-light">
              <!-- Icon & Title -->
              <div class="text-truncate">
                {{item.name}} [{{index}}]
              </div>
              <!-- Header Button -->
              <div class="miso-card-header-btn-box">
                <button class="btn btn-info" @click="fn.edit(item.name)">
                  <i class="fas fa-edit fa-lg"></i>
                </button>
                <button class="btn btn-danger" @click="fn.remove(item.name)">
                  <i class="fas fa-trash fa-lg"></i>
                </button>
              </div>
            </div>
            <!-- Item Body -->
            <div class="card-body bg-secondary">
              <p class="card-text text-light">
                {{item.description}}
              </p>
              <div class="text-truncate mt-2">
                <span class="badge badge-info mr-2">{{item.template}}</span>
                <span class="badge badge-info mr-2">{{item.script}}</span>
                <span class="badge badge-info mr-2">{{item.engine}}</span>
              </div>
              <!-- <div class="text-truncate mt-2">
                <template v-for="tag in [...item['@type'],...((typeof item.type == 'string') ? [item.type] : item.type)]">
                  <span class="badge badge-info mr-2">{{tag}}</span>
                </template>
              </div> -->
            </div>
          </div>
          <!-- Adder -->
          <div 
          class="card miso-grid-item miso-grid-item-adder bg-secondary"
          @click="fn.add()">
            <div class="card-body">
              <div class="d-flex flex-column justify-content-center align-items-center w-100 h-100">
                <i class="fas fa-plus fa-4x"></i>
                <span>Create new device</span>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>

  <pre v-if="loader.extension.debug">
    <code class="text-light">
      {{resource}}
    </code>
    <code class="text-light">
      {{ui}}
    </code>
  </pre>
</div>