<div class="miso-slide-container" id="extension-lime-content-engines-section">
  
  <div class="miso-slide-slide" :class="{hide: ui.slider.hide}">
    <div class="card text-dark border-warning w-100">

      <div class="card-header bg-warning border-warning">
        <div class="d-flex justify-content-between">
          <!-- Icon & Title -->
          <div class="text-truncate">
            <i class="fas fa-cogs mr-2"></i>
            <b>Engine System</b>
          </div>
          <!-- Header Button -->
          <div class="">
            <button class="btn btn-success" @click="fn.save()">
              <i class="fas fa-save fa-lg"></i>
              <b>Save</b>
            </button>
            <button class="btn btn-danger" @click="fn.renderBase()">
              <i class="fas fa-undo fa-lg"></i>
              <b>Back</b>
            </button>
          </div>
        </div>
      </div>

      <div class="card-body bg-dark">

        <div 
        v-if="!ui.slider.ready"
        class="">
          <div class="d-flex flex-column justify-content-center">
            <br>
            <div class="text-light">
              <center>
                Please wait, this process will take a while.
              </center>
            </div>
            <br>
            <div class="progress">
              <div class="progress-bar progress-bar-black-striped bg-warning progress-bar-animated w-100">
              </div>
            </div>
          </div>
        </div>

        <div 
        v-if="ui.slider.ready"
        class="miso-form-container align-items-center col-sm-12 col-md-10 col-lg-8 w-100">

          <div class="miso-badge-header-group align-items-end w-100">
            <label class="miso-label-badge badge-info font-size-inherit">Config</label>
            <div class="miso-badge-union d-flex flex-column border-dash border-info p-3 w-100">

              <template v-for="(param, index) in resource.configSchema.properties">
                <div v-if="fn.typeIdentify(param) != 'object'" class="miso-badge-header-group grow-1">
                  <label class="miso-label-badge badge-secondary">
                    {{(param.title) ? param.title : index}}
                  </label>
                  <json-schema-form 
                  v-bind:param="param"
                  class="miso-badge-union border-secondary"
                  v-bind:class="{'no-resize': param.attrs && param.attrs.type == 'textarea'}"
                  v-model="ui.slider.form[index]"
                  @change="param.alternate && fn.onAlternateChange()">
                  </json-schema-form>
                </div>
              </template>

            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
  
  <div class="miso-slide-base">
    <div class="card text-dark border-warning w-100">
      <!-- Base Card Header -->
      <div class="card-header bg-warning border-warning">
        <div class="d-flex justify-content-between">
          <!-- Icon & Title -->
          <div class="text-truncate">
            <i class="fas fa-cogs mr-2"></i>
            <b>Engine System</b>
          </div>
        </div>
      </div>
      <!-- Base Card Body -->
      <div class="card-body bg-dark">
        <!-- Base Body Loader -->
        <div 
        v-if="!ui.base.ready"
        class="">
          <div class="d-flex flex-column justify-content-center">
            <br>
            <div class="text-light">
              <center>
                Please wait, this process will take a while.
              </center>
            </div>
            <br>
            <div class="progress">
              <div class="progress-bar progress-bar-black-striped bg-warning progress-bar-animated w-100">
              </div>
            </div>
          </div>
        </div>
        <!-- Base Body Item Container -->
        <div 
        v-if="ui.base.ready"
        class="miso-grid-item-container">
          <!-- Items -->
          <div 
          class="card miso-grid-item" 
          v-for="(item, id) in resource.systemEngine">
            <!-- Item Header -->
            <div class="card-header d-flex justify-content-between bg-dark text-light">
              <!-- Icon & Title -->
              <div class="text-truncate">
                {{item.name}} [{{id}}]
              </div>
              <!-- Header Button -->
              <div class="miso-card-header-btn-box">
                <div class="dropdown">
                  <button class="btn btn-secondary" data-toggle="dropdown">
                    <i class="fas fa-bars fa-lg"></i>
                  </button>
                  <div class="dropdown-menu bg-dark text-light">
                    <a v-if="['stopped', 'semi-running'].includes(item.state)" @click="fn.start(id)" class="dropdown-item d-flex text-light" href="#">
                      <div class="miso-icon-box-16">
                        <i class="fas fa-play fa-lg"></i>
                      </div>
                      <span>Start</span>
                    </a>
                    <a v-if="['running', 'semi-running'].includes(item.state)" @click="fn.stop(id)" class="dropdown-item d-flex text-light" href="#">
                      <div class="miso-icon-box-16">
                        <i class="fas fa-stop fa-lg"></i>
                      </div>
                      <span>Stop</span>
                    </a>
                    <a v-if="['disabled', 'corrupted'].includes(item.state)" @click="fn.addToService(id)" class="dropdown-item d-flex text-light" href="#">
                      <div class="miso-icon-box-16">
                        <i class="fas fa-history fa-lg"></i>
                      </div>
                      <span>Add to Service</span>
                    </a>
                    <a v-if="['running', 'semi-running', 'stop', 'no-property', 'corrupted'].includes(item.state)" @click="fn.removeFromService(id)" class="dropdown-item d-flex text-light" href="#">
                      <div class="miso-icon-box-16">
                        <i class="fas fa-caret-down fa-lg"></i>
                      </div>
                      <span>Remove from Service</span>
                    </a>
                    <a @click="fn.edit(id)" class="dropdown-item d-flex text-light" href="#">
                      <div class="miso-icon-box-16">
                        <i class="fas fa-edit fa-lg"></i>
                      </div>
                      <span>Edit</span>
                    </a>
                    <a @click="fn.remove(id)" class="dropdown-item d-flex text-light" href="#">
                      <div class="miso-icon-box-16">
                        <i class="fas fa-trash fa-lg"></i>
                      </div>
                      <span>Delete</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Item Body -->
            <div class="card-body bg-secondary d-flex flex-column">
              <p class="card-text text-light grow-1">
                {{item.description}}
              </p>
              <div class="text-truncate d-flex mt-2">
                <span class="header-item text-truncate mr-2">
                  <span class="bg-dark text-light">template</span>
                  <span class="bg-info text-light">
                    {{item.template}}
                  </span>
                </span>
              </div>
              <div class="text-truncate d-flex mt-2">
                <span class="header-item text-truncate mr-2">
                  <span class="bg-dark text-light">status</span>
                  <span 
                  class="" 
                  :class="{
                    'bg-success text-light': item.state == 'running',
                    'bg-warning text-dark': ['starting', 'restarting'].includes(item.state), 
                    'bg-danger text-light': !['running', 'starting', 'restarting'].includes(item.state)
                  }">
                    {{item.state}}
                  </span>
                </span>
              </div>
            </div>
          </div>
          <!-- Adder -->
          <div 
          class="card miso-grid-item miso-grid-item-adder bg-secondary"
          @click="fn.add()">
            <div class="card-body">
              <div class="d-flex flex-column justify-content-center align-items-center w-100 h-100">
                <i class="fas fa-plus fa-4x"></i>
                <span>Create new engine</span>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>

  <div v-if="loader.extension.debug">
    <code class="text-light">
      <template v-for="(elem, index) in $data">
        <div v-if="index != 'loader'">
          <b>{{index}} :</b>
          <pre class="text-light">{{elem}}</pre>
        </div>
      </template>
    </code>
  </div>

</div>