<div class="" id="extension-lime-content-sysport-section">
  <div class="card text-dark border-warning w-100">

    <div class="card-header bg-warning border-warning">
      <div class="d-flex justify-content-between">
        <!-- Icon & Title -->
        <div class="text-truncate">
          <i class="fab fa-usb mr-2"></i>
          <b id="extension-lime-content-sysport-section-header-title">System Port</b>
        </div>
        <!-- Header Button -->
        <div class="text-light">
          <button 
          class="btn btn-info border-secondary mr-1" 
          id="extension-lime-content-sysport-section-header-reload">
            <i class="fas fa-sync-alt mr-2"></i>
            <b>Reload</b>
          </button>
        </div>
      </div>
    </div>

    <div class="card-body bg-dark" id="extension-lime-content-sysport-section-body">

      <div 
      class=""
      id="extension-lime-content-sysport-section-loading" >
        <div class="d-flex flex-column justify-content-center">
          <br>
          <div class="text-light">
            <center>
              Please wait, this process will take a while.
            </center>
          </div>
          <br>
          <div class="progress">
            <div class="progress-bar progress-bar-black-striped bg-warning progress-bar-animated w-100">
            </div>
          </div>
        </div>
      </div>

      <div 
      class="miso-grid-item-container hide" 
      id="extension-lime-content-sysport-section-listpanel-template-item">
        <div 
        class="card miso-grid-item" 
        id="extension-lime-content-sysport-section-listpanel-item-{{{index}}}">
          <div class="card-header d-flex justify-content-between bg-dark text-light">
            <div 
            class="text-truncate" 
            id="extension-lime-content-sysport-section-listpanel-item-{{{index}}}-path">
              {{{path}}}
            </div>
          </div>
          <div class="card-body bg-secondary">
            <span class="header-item">
              <span class="bg-dark text-light">pnpId</span>
              <span 
                class="bg-warning text-dark"
                id="extension-lime-content-sysport-section-listpanel-item-{{{index}}}-pnpid">
                {{{pnpid}}}
              </span>
            </span>
            <span class="header-item">
              <span class="bg-dark text-light">manufacturer</span>
              <span
                class="bg-warning text-dark"
                id="extension-lime-content-sysport-section-listpanel-item-{{{index}}}-manufacturer">
                {{{manufacturer}}}
              </span>
            </span>
          </div>
        </div>
      </div>

      <div 
      class="miso-grid-item-container hide" 
      id="extension-lime-content-sysport-section-listpanel">
      </div>

    </div>

  </div>
</div>