<select
v-if="fn.typeIdentify(param) == 'select'"
:disabled="fn.isDisabled(param)"
v-bind:value="value"
v-on:input="$emit('input', (param.type == 'number') ? Number($event.target.value) : $event.target.value)"
v-on:change="$emit('change', (param.type == 'number') ? Number($event.target.value) : $event.target.value)"
>
  <template v-for="option in param.enum">
    <option :value="option">
      {{(param.enumDisplay) ? param.enumDisplay[`${option}`] : option}}
    </option>
  </template>
</select>

<textarea
v-else-if="fn.typeIdentify(param) == 'textarea'"
:disabled="fn.isDisabled(param)"
v-bind:value="value"
v-on:input="$emit('input', $event.target.value)"
v-on:change="$emit('change', $event.target.value)"
rows="4">
</textarea>

<input 
v-else-if="fn.typeIdentify(param) == 'text'"
:type="fn.typeIdentify(param)" 
:disabled="fn.isDisabled(param)"
v-bind:value="value"
v-on:input="$emit('input', $event.target.value)"
v-on:change="$emit('change', $event.target.value)"
>

<input 
v-else-if="fn.typeIdentify(param) == 'number'"
:type="fn.typeIdentify(param)" 
:disabled="fn.isDisabled(param)"
v-bind:value="value"
v-on:input="$emit('input', Number($event.target.value))"
v-on:change="$emit('change', Number($event.target.value))"
>